<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
      integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/styling/style.css" />
  </head>
  <body>
    <div class="layout">
      <i class="fa-solid fa-layer-group"></i>
      <h2>Train your model with</h2>
      <h1>"TrainIt"</h1>
      <div class="moto">
          <h4>Discover and download datasets from leading data repositories.</h3>
          <h4>Train your model now!!</h4>
        </div>
      <form method="GET" action="/searchpage" class="start">
        <button class="btn btn-info ">Get Started </button>
      </form>
    </div>
  </body>
</html>
