body {
  padding: 0px;
  margin: 0px;
  background-image: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* home page styling */
.layout {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10vh;
  gap: 10px;
  font-family: arial;
  font-style: bold;
}
.fa-layer-group {
  font-size: 50px;
  margin-bottom: 15px;
}
.layout h1 {
  font-size: 70px;
  font-family: georgia;
  color: hsl(278, 83%, 58%);
}
.layout h2 {
  font-size: 50px;
}
.moto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  width: 500px !important;
}
.input-group-text {
  background-color: white;
  border-right: none;
}
.fa-solid {
  height: 24px;
}
.form-control {
  border-left: none;
}
input:focus {
  /* outline: none !important; */
  box-shadow: none !important;
}
.fa-magnifying-glass {
  font-size: 17px;
}
.notfound {
  padding-left: 50vh;
  padding-top: 30vh;
  /* padding: 35vh; */
  color: white !important;
}
/* result styling */
.card-body {
  border: 2px white solid;
  border-radius: 1rem;
  background-color: #e0c8ed;
}
.card-link:hover {
  color: rgb(117, 192, 239);
}
.card-link:hover {
  color: rgb(13, 13, 122);
}
#searchtext {
  color: white;
}
